body {

}
#hinhct{
    width:30%;
    float:left;
}
#chitiet{
    width:65%;
    float:left;
    text-align:left!important;
}
.Gia{
    color:red;
    padding:4px;
}
#tensp{
    color:blue;
    font-weight:bold;
    font-size:14px;
}
